* {
    background-color: aquamarine;
    /*Made the background color an easily contrastable color for visual clarity.*/
}

header {
font-size: 9px;
}

.start {
text-align: center;
padding-top: 15%;
}

/*made button larger*/
button {
    height: 40px;
    width: 80px;
}

